<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Recipe Book</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation"
            (click)="toggleNavbar()"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.show]="!collapsed" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/recipes" >Recipes</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
                    <a class="nav-link" routerLink="/shopping-list" >Shopping List</a>
                </li>
                <li class="nav-item" *ngIf="!isAuthenticated">
                    <a class="nav-link" routerLink="/auth">Authenticate</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="isAuthenticated">
                <li class="nav-item">
                    <a class="nav-link" (click)="onLogout()">Logout</a>
                </li>
                <li class="nav-item dropdown" appDropdown>
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" >
                        Manage
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" (click)="onSaveData()" >Save data</a>
                        <a class="dropdown-item" (click)="onFetchData()">Fetch data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" >Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
