<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 mb-3">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm?.valid">Save</button>
          <button type="button" class="btn btn-secondary mx-1" (click)="onCancel()">Cancel</button>
        </div>
        <br />
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" name="" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <img [src]="imagePath?.value" class="img-fluid" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" id="description" rows="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div formArrayName="ingredients">
        <div class="row mb-1" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
          <div class="col-8">
            <input type="text" name="name" class="form-control" formControlName="name" />
          </div>
          <div class="col-2">
            <input type="number" name="amount" class="form-control" formControlName="amount" />
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">x</button>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-2">
            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add ingredient</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
