<div class="row">
    <div class="col-12">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="alert alert-danger" *ngIf="!!error">
                <span>{{ error }}</span>

                <button type="button" class="close" aria-label="Close" (click)="onDismissError()">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="isLoading" class="d-flex justify-content-center">
              <app-loading-spinner></app-loading-spinner>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ngModel name="email" required email />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ngModel name="password" required minlength="6" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'Sign up' }}
                </button>
                <a class="btn btn-link" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'sign up' : 'login' }}</a>
            </div>
        </form>
    </div>
</div>
