<div class="row">
    <div class="col-12">
        <div class="card">
            <img [src]="recipe.imagePath" [alt]="recipe.name" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <div class="dropdown d-inline-block" appDropdown>
                    <button
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        id="ddManageRecipe"
                    >
                        Manage Recipe
                    </button>
                    <div class="dropdown-menu" aria-labelledby="ddManageRecipe">
                        <a class="dropdown-item" (click)="onAddToShoppingList()">Add ingredients to Shopping List</a>
                        <a class="dropdown-item" routerLink="edit">Edit recipe</a>
                        <a class="dropdown-item" (click)="onDeleteRecipe()">Delete recipe</a>
                    </div>
                </div>

                <p class="card-text my-3">
                    {{ recipe.description }}
                </p>
                <h4>Ingredients</h4>
                <ul>
                    <li *ngFor="let ingred of recipe.ingredients">{{ ingred.name }} ({{ ingred.amount }})</li>
                </ul>
            </div>
        </div>
    </div>
</div>
